@use "../abstract/index" as *;

// === NAVIGATION ===
.nav {
  @include position(fixed, 0, auto, auto, 0, 100%);
  @include flex(space-between, center);
  background: transparent;
  padding: 1.5rem 4rem;
  z-index: 999;

  @include rwd(sm) {
    padding: 0 2rem;
  }

  &.scrolled {
    background-color: black;
  }

  &__logo {
    @include rwd(xl) {
      order: 2;
    }

    &-desktop {
      width: 200px;

      @include rwd(xl) {
        display: none;
      }
    }

    &-mobile {
      display: none;

      @include rwd(xl) {
        width: 80px;
        display: block;
      }
    }
  }

  &__list {
    @include flex(flex-start, center, nowrap, 32px);
    @include rwd(xl) {
      display: none;
    }

    &.scrolled {
      background-color: black;
    }
  }

  &__link {
    @include style(left, 14px, 500, uppercase, white);

    &.active {
      color: $primaryColor;
    }

    &--btn {
      text-align: center;
    }
  }

  &__hamburger {
    @include flex(space-between, stretch, column);
    width: 40px;
    height: 30px;
    cursor: pointer;
    display: none;

    .hamburger__line {
      width: 100%;
      height: 3px;
      background-color: white;
    }

    .hamburger__line--mid {
      width: 80%;
    }

    @include rwd(xl) {
      display: flex;
    }

    @include rwd(sm) {
      width: 30px;
      height: 20px;
    }
  }
}
