* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
  border: none;
  outline: none;
  transition: 0.4s linear;
}

body {
  font-size: 16px;
  overflow-x: hidden;
  line-height: 1.4;
  color: #fff;
  background-color: #151617;
  font-family: "Inter", sans-serif;
}

section {
  padding: 90px 0;
}
@media (max-width: 576px) {
  section section {
    padding: 70px 0;
  }
}

.container {
  width: 80%;
  margin: auto;
}
@media (max-width: 576px) {
  .container .container {
    width: 90%;
  }
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

a {
  transition: 0.4s linear;
  color: #fff;
}

a:hover {
  color: #ff1500;
}

.btn {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  border-radius: 40px;
  padding: 12px 0;
  width: 170px;
  text-align: center;
  transition: 0.4s linear;
  cursor: pointer;
  border: 2px solid #ff1500;
  text-transform: capitalize;
}

.btn:hover {
  color: #fff;
}

.btn-primary {
  background-color: #ff1500;
}
.btn-primary:hover {
  background: transparent;
}
.btn-primary:hover i {
  color: #ff1500;
}
.btn-primary i {
  color: white;
  margin-left: 10px;
}
.btn i {
  color: white;
  margin-left: 10px;
}
.btn-outline {
  background: transparent;
}
.btn-outline:hover {
  background-color: #ff1500;
}

.social__icons {
  position: fixed;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 0;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: column;
  gap: 1.5rem;
  background-color: black;
  padding: 2rem 1rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
@media (max-width: 1200px) {
  .social__icons {
    display: none;
  }
}

.footer {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  margin-top: 4rem;
  padding: 4rem 0;
  background: linear-gradient(180deg, #000000 0%, #aa0e00 661.48%);
}
@media (max-width: 992px) {
  .footer {
    background: black;
    border-top: 2px solid #ff1500;
    border-radius: 0;
    padding-bottom: 0;
    padding-top: 2.5rem;
    margin-top: 10px;
  }
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
}
@media (max-width: 992px) {
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.footer__wrapper .footer__social {
  display: none;
  margin-top: 48px;
}
@media (max-width: 992px) {
  .footer__wrapper .footer__social {
    display: block;
  }
}
.footer__wrapper .footer__social a {
  box-shadow: 0px 0px 22.18px 0px rgba(255, 255, 255, 0.2);
  font-size: 20px;
}
.footer__wrapper .footer__social a:not(:last-child) {
  margin-right: 30px;
}
.footer__wrapper .footer__social a:hover {
  color: #ff1500;
}
.footer__item--right {
  text-align: right;
}
@media (max-width: 992px) {
  .footer__item--right {
    text-align: center;
  }
}
.footer__logo-desktop {
  width: 250px;
  height: 65px;
}
@media (max-width: 992px) {
  .footer__logo-desktop {
    display: none;
  }
}
.footer__logo-mobile {
  display: none;
  width: 100px;
  margin: auto;
}
@media (max-width: 992px) {
  .footer__logo-mobile {
    display: block;
  }
}
.footer__p {
  margin-top: 1.5rem;
  font-size: 14px;
  max-width: 350px;
  font-weight: 300;
}
@media (max-width: 992px) {
  .footer__p {
    display: none;
  }
}
.footer__menu {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
@media (max-width: 992px) {
  .footer__menu {
    flex-direction: column;
    margin-top: 1rem;
  }
}
.footer__menu a {
  text-align: 14px;
  font-size: 500;
  font-weight: white;
  text-transform: uppercase;
  color: center;
}
.footer__menu a:hover {
  color: #ff1500;
}
.footer__heading {
  text-align: right;
  font-size: 26px;
  font-weight: 500;
  text-transform: white;
  color: none;
  margin-bottom: 1.5rem;
  max-width: 355px;
}
@media (max-width: 992px) {
  .footer__heading {
    font-size: 20px;
    margin-top: 2rem;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .footer__heading {
    font-size: 1rem;
    font-weight: 400;
    max-width: 210px;
  }
}
.footer__heading span {
  color: #ff1500;
}
.footer__btn {
  text-transform: uppercase;
}
.footer__copy {
  border-top: 1px solid white;
  padding: 1rem 0;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .footer__copy {
    flex-direction: column;
    align-items: center;
    background-color: #151617;
    width: 100% !important;
    border-top: none;
    text-align: center;
    margin-top: 2rem;
  }
}
.footer__copyright {
  font-size: 14px;
}
@media (max-width: 576px) {
  .footer__copyright {
    font-size: 10px;
  }
}

.mobile {
  position: fixed;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  width: 65%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 2rem;
  background-color: #151617;
  transform: translateX(-100%);
  transition: 0.4s linear;
  z-index: 999;
  padding: 0 1rem;
}
.mobile.active {
  transform: translateX(0);
}
.mobile #close {
  position: fixed;
  top: 30px;
  right: 20px;
  bottom: auto;
  left: auto;
  width: auto;
  height: auto;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
.mobile__list {
  text-align: center;
}
.mobile__list a {
  text-align: 16px;
  font-size: lowercase;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 1.5rem;
  display: inline-block;
}
.mobile__text {
  text-align: 14px;
  font-size: 400;
  font-weight: white;
  text-transform: none;
  color: center;
  text-align: center;
}
.mobile__text span {
  color: #ff1500;
}
.mobile__icons {
  display: flex;
  gap: 2rem;
}
.mobile__icons a {
  font-size: 18px;
}

.nav {
  position: fixed;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
  background: transparent;
  padding: 1.5rem 4rem;
  z-index: 999;
}
@media (max-width: 576px) {
  .nav {
    padding: 0 2rem;
  }
}
.nav.scrolled {
  background-color: black;
}
@media (max-width: 1200px) {
  .nav__logo {
    order: 2;
  }
}
.nav__logo-desktop {
  width: 200px;
}
@media (max-width: 1200px) {
  .nav__logo-desktop {
    display: none;
  }
}
.nav__logo-mobile {
  display: none;
}
@media (max-width: 1200px) {
  .nav__logo-mobile {
    width: 80px;
    display: block;
  }
}
.nav__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: nowrap;
  gap: 32px;
}
@media (max-width: 1200px) {
  .nav__list {
    display: none;
  }
}
.nav__list.scrolled {
  background-color: black;
}
.nav__link {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
}
.nav__link.active {
  color: #ff1500;
}
.nav__link--btn {
  text-align: center;
}
.nav__hamburger {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: column;
  gap: 0;
  width: 40px;
  height: 30px;
  cursor: pointer;
  display: none;
}
.nav__hamburger .hamburger__line {
  width: 100%;
  height: 3px;
  background-color: white;
}
.nav__hamburger .hamburger__line--mid {
  width: 80%;
}
@media (max-width: 1200px) {
  .nav__hamburger {
    display: flex;
  }
}
@media (max-width: 576px) {
  .nav__hamburger {
    width: 30px;
    height: 20px;
  }
}

.header {
  height: 100svh;
  position: relative;
  display: flex;
}
.header__bg {
  flex: 1.5;
}
@media (max-width: 1200px) {
  .header__bg {
    display: none;
  }
}
.header__imgs {
  flex: 3;
  display: flex;
}
@media (max-width: 1200px) {
  .header__imgs {
    flex-direction: column;
  }
}
.header__item {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  flex-flow: column;
  gap: 0;
  padding-left: 60px;
  background-size: cover;
  height: 100%;
}
.header__number {
  font-family: "Noto Nastaliq Urdu", serif;
}
.header__number::before {
  display: block;
  content: "";
  height: 75px;
  width: 100%;
  border-left: 1px solid #fff;
  margin-bottom: 1rem;
}
@media (max-width: 1200px) {
  .header__number {
    display: none;
  }
}
.header__service {
  text-align: 28px;
  font-size: 600;
  font-weight: white;
  text-transform: capitalize;
  color: #fff;
  max-width: 200px;
  margin: 20px 0 70px;
}
@media (max-width: 1200px) {
  .header__service {
    display: none;
  }
}
.header__item--one {
  background-image: linear-gradient(rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.82)), url(../img/naslovna/toy-house.jpg);
  background-position: center;
}
@media (max-width: 1200px) {
  .header__item--one {
    background-position: bottom;
  }
}
.header__item--two {
  background-image: linear-gradient(rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.82)), url(../img/naslovna/woman-standing.jpg);
  background-position: center;
}
.header__item--three {
  background-image: linear-gradient(rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.82)), url(../img/naslovna/technician.jpg);
  background-position: right;
}
.header__text {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 200px;
  width: 700px;
  height: auto;
  height: auto;
  transform: translateY(-50%);
}
@media (max-width: 1200px) {
  .header__text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
  }
}
.header__heading {
  text-align: left;
  font-size: 56px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  max-width: 650px;
}
@media (max-width: 1200px) {
  .header__heading {
    text-align: center;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .header__heading {
    font-size: 28px;
    width: 350px;
  }
}
@media (max-width: 400px) {
  .header__heading {
    width: 100%;
  }
}
.header__p {
  text-align: 16px;
  font-size: 300;
  font-weight: none;
  text-transform: none;
  color: #fff;
  max-width: 450px;
  margin: 40px 0 48px;
}
@media (max-width: 1200px) {
  .header__p {
    margin: 1rem auto 2rem;
    text-align: center;
    max-width: 320px;
  }
}
@media (max-width: 400px) {
  .header__p {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .header__btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    gap: 20px;
  }
}
.header__btns .btn-outline {
  display: none;
}
@media (max-width: 1200px) {
  .header__btns .btn-outline {
    display: inline-block;
  }
}

.header-project {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  width: 100%;
  height: 100svh;
  clip-path: polygon(0 1%, 100% 0%, 100% 75%, 0 100%);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/projects/projects-main.jpg);
  background-size: cover;
  background-position: center;
}
@media (max-width: 992px) {
  .header-project {
    clip-path: none;
  }
}
.header-project__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  gap: 0;
  height: 100%;
}
@media (max-width: 992px) {
  .header-project__wrapper {
    row-gap: 70px;
    align-items: center;
    text-align: center;
  }
}
.header-project__heading {
  text-align: left;
  font-size: 56px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}
@media (max-width: 768px) {
  .header-project__heading {
    font-size: 37px;
    text-align: center;
  }
}
.header-project__p {
  text-align: 16px;
  font-size: 300;
  font-weight: none;
  text-transform: none;
  color: #fff;
  margin: 40px 0 48px;
  max-width: 650px;
}
@media (max-width: 1200px) {
  .header-project__p {
    width: 350px;
  }
}
.header-project__triangle-one, .header-project__triangle-two, .header-project__triangle-three {
  position: absolute;
  bottom: 0;
  clip-path: polygon(49% 0, 0% 100%, 100% 100%);
}
@media (max-width: 992px) {
  .header-project__triangle-one, .header-project__triangle-two, .header-project__triangle-three {
    display: none;
  }
}
.header-project__triangle-one {
  left: -220px;
  width: 500px;
  height: 380px;
  background: rgba(255, 255, 255, 0.16);
}
.header-project__triangle-two {
  left: 100px;
  width: 500px;
  height: 600px;
  background: rgba(0, 0, 0, 0.16);
}
.header-project__triangle-three {
  left: 300px;
  width: 550px;
  height: 450px;
  clip-path: polygon(74% 3%, 0% 100%, 100% 100%);
  background: rgba(255, 21, 0, 0.16);
}
.header-project #arrow {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 40px;
  left: 50%;
  width: auto;
  height: auto;
  transform: translateX(-50%);
  animation: arrow-down 1.5s infinite;
  color: #ff1500;
  font-size: 2rem;
  display: none;
}
@media (max-width: 992px) {
  .header-project #arrow {
    display: block;
  }
}

.projects {
  position: relative;
  scroll-margin-top: 100px;
}
.projects__header {
  text-align: right;
}
@media (max-width: 992px) {
  .projects__header {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .projects__header {
    text-align: center;
  }
}
.projects__heading {
  font-weight: 700;
  font-size: 56px;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .projects__heading {
    font-size: 2rem;
    max-width: 250px;
    margin: 0 auto 20px;
  }
}
.projects__p {
  font-weight: 300;
  max-width: 870px;
  margin-left: auto;
}
@media (max-width: 992px) {
  .projects__p {
    margin: auto;
    width: 280px;
  }
}
.projects__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: wrap;
  gap: 0;
  row-gap: 150px;
  margin-top: 80px;
}
@media (max-width: 1200px) {
  .projects__wrapper {
    row-gap: 70px;
  }
}
.projects__wrapper ~ div {
  z-index: -1;
}
@media (max-width: 992px) {
  .projects__wrapper ~ div {
    display: none;
  }
}
.projects__item {
  flex-basis: 30%;
}
@media (max-width: 1200px) {
  .projects__item {
    flex-basis: 45%;
  }
}
@media (max-width: 768px) {
  .projects__item {
    flex-basis: 100%;
  }
}
.projects__name {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}
.projects__name span {
  color: #ff1500;
}
@media (max-width: 768px) {
  .projects__name {
    text-align: center;
  }
}
.projects__imgs {
  position: relative;
  overflow: hidden;
}
.projects__img {
  transition: 0.4s linear;
  display: flex;
}
.projects__img img {
  width: 100%;
  flex-shrink: 0;
}
.projects__btn {
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: 0;
  width: auto;
  height: auto;
  transform: translateY(-50%);
  border-radius: 50%;
  line-height: 30px;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s linear;
  background-color: transparent;
}
.projects__btn:hover {
  color: #ff1500;
  border-color: #ff1500;
}
.projects__btn--left {
  left: 10px;
  color: #fff;
}
.projects__btn--right {
  right: 10px;
  color: #fff;
}
.projects__labels {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: wrap;
  gap: 9px;
  margin-top: 20px;
}
@media (max-width: 1200px) {
  .projects__labels {
    justify-content: center;
  }
}
.projects__labels span {
  text-transform: capitalize;
  font-size: 13px;
  border-radius: 50px;
  padding: 10px 1rem;
  border: 0.8px solid rgba(255, 255, 255, 0.3);
}
.projects__cta {
  margin: 2rem auto 0;
}
@media (max-width: 768px) {
  .projects__cta {
    display: block;
  }
}
.projects__color {
  position: absolute;
  top: 45%;
  right: 0;
  bottom: auto;
  left: 0;
  width: auto;
  height: auto;
  width: 200px;
}

.vision {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 16px;
  position: relative;
  margin: 90px auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88)), url(../img/projects/projects-vision.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  text-align: center;
  padding: 100px 0;
}
@media (max-width: 1200px) {
  .vision {
    margin: 70px auto;
  }
}
.vision__heading {
  font-weight: 600;
  font-size: 36px;
}
.vision__heading span {
  color: #ff1500;
}
@media (max-width: 992px) {
  .vision__heading {
    font-size: 26px;
    width: 280px;
  }
}
.vision__p {
  font-weight: 300;
}
@media (max-width: 992px) {
  .vision__p {
    width: 350px;
  }
}
@media (max-width: 768px) {
  .vision__p {
    font-size: 14px;
    max-width: 100%;
  }
}
.vision__img {
  opacity: 0.2;
  width: 390px;
  margin: 20px 0;
}
@media (max-width: 992px) {
  .vision__img {
    width: 200px;
  }
}
.vision__brush {
  position: absolute;
  top: auto;
  right: auto;
  bottom: -340px;
  left: -170px;
  width: 300px;
  height: auto;
  opacity: 0.2;
}
@media (max-width: 1200px) {
  .vision__brush {
    display: none;
  }
}

.projects__icon {
  position: absolute;
  top: 80%;
  right: 0;
  bottom: auto;
  left: auto;
  width: 120px;
  height: auto;
}
@media (max-width: 1200px) {
  .projects__icon {
    display: none;
  }
}

.question__heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  text-transform: white;
  color: none;
}
@media (max-width: 992px) {
  .question__heading {
    font-size: 1.5rem;
    max-width: 250px;
    margin: auto;
  }
}
.question__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: wrap;
  gap: 1rem;
  margin-top: 3rem;
  padding: 2rem;
  background-color: black;
  border-radius: 1rem;
}
@media (max-width: 768px) {
  .question__wrapper {
    padding: 1rem;
  }
}
.question__item {
  flex-basis: 47%;
  padding: 25px;
  border-radius: 10px;
}
@media (max-width: 1200px) {
  .question__item {
    flex-basis: 100%;
  }
}
.question__item.active {
  background-color: white;
  color: black;
}
.question__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
}
@media (max-width: 576px) {
  .question__header {
    font-size: 14px;
  }
}
.question__header i {
  font-size: 15px;
  transition: 0.4s linear;
}
.question__header i.active {
  transform: rotate(90deg);
  color: black;
}
.question__body {
  max-height: 0;
  overflow: hidden;
  font-size: 14px;
  font-weight: 300;
  transition: 0.4s linear;
}
.question__body.active {
  border-top: 1px solid rgb(241, 241, 241);
  max-height: 200px;
  padding-top: 20px;
}

.header__services {
  height: 100svh;
  position: relative;
  display: flex;
}
.header__services__item {
  padding-left: 100px;
}
@media (max-width: 1200px) {
  .header__services__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 0;
    padding: 0 10%;
    text-align: center;
  }
}
.header__services__heading {
  text-align: left;
  font-size: 56px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  max-width: 650px;
}
@media (max-width: 992px) {
  .header__services__heading {
    font-size: 2rem;
    max-width: 370px;
    text-align: center;
  }
}
@media (max-width: 400px) {
  .header__services__heading {
    font-size: 28px;
    max-width: 100%;
    text-align: center;
  }
}
.header__services__p {
  text-align: 16px;
  font-size: 300;
  font-weight: white;
  text-transform: none;
  color: #fff;
  max-width: 600px;
  margin: 40px 0 48px;
}
@media (max-width: 992px) {
  .header__services__p {
    font-size: 1rem;
    max-width: 350px;
  }
}
.header__services__btns {
  display: flex;
  gap: 1rem;
}
@media (max-width: 992px) {
  .header__services__btns {
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }
}
.header__services__item-bg {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: column;
  gap: 0;
  flex: 1.3;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.7) 58.49%, rgb(255, 21, 0) 194.03%);
}
.header__services__item-img {
  flex: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/services/services-main.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
}
@media (max-width: 1200px) {
  .header__services__item-img {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 38.75%, rgb(255, 21, 0) 753.46%), url("../img/services/services-main.jpg");
    background-size: cover;
    height: 100%;
  }
}
.header__services #arrow {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 40px;
  left: 50%;
  width: auto;
  height: auto;
  transform: translateX(-50%);
  animation: arrow-down 1.5s infinite;
  color: #ff1500;
  font-size: 2rem;
  display: none;
}
@media (max-width: 992px) {
  .header__services #arrow {
    display: block;
  }
}

.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  gap: 0;
  position: relative;
}
@media (max-width: 992px) {
  .numbers {
    row-gap: 4rem;
  }
}
@media (max-width: 576px) {
  .numbers {
    scroll-margin-top: 80px;
  }
}
.numbers__item {
  flex-basis: 20%;
}
@media (max-width: 992px) {
  .numbers__item {
    flex-basis: 45%;
  }
}
.numbers__number {
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  text-transform: none;
  color: #fff;
  color: #ff1500;
}
@media (max-width: 576px) {
  .numbers__number {
    font-size: 36px;
  }
}
.numbers__name {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}
@media (max-width: 576px) {
  .numbers__name {
    width: 100px;
    margin: auto;
  }
}
.numbers__building {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: -150px;
  width: 400px;
  height: auto;
}
@media (max-width: 992px) {
  .numbers__building {
    display: none;
  }
}

.services {
  width: 70%;
  margin: auto;
}
@media (max-width: 768px) {
  .services {
    width: 90%;
  }
}
.services__header {
  text-align: center;
  font-size: 25px;
  font-weight: capitalize;
  text-transform: uppercase;
  color: #fff;
  display: none;
}
@media (max-width: 1200px) {
  .services__header {
    display: block;
  }
}
.services__header-p {
  font-weight: 300;
  max-width: 300px;
  margin: 2rem auto;
  text-transform: none;
}
.services__header-tel {
  text-align: none;
  font-size: 16px;
  font-weight: 300;
  text-transform: capitalize;
  color: #ff1500;
}
.services__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-flow: wrap;
  gap: 0;
  margin-top: 48px;
}
.services__item {
  flex-basis: 33%;
  padding: 32px;
}
@media (max-width: 1200px) {
  .services__item {
    flex-basis: 50%;
  }
}
@media (max-width: 576px) {
  .services__item {
    padding: 2rem 1rem;
  }
}
@media (max-width: 1200px) {
  .services__item:nth-child(1) {
    display: none;
  }
}
@media (max-width: 1200px) {
  .services__item:nth-child(2) {
    order: -1;
  }
}
@media (max-width: 1200px) {
  .services__item:nth-child(3) {
    order: 0;
  }
}
@media (max-width: 1200px) {
  .services__item:nth-child(4) {
    order: 2;
  }
}
@media (max-width: 1200px) {
  .services__item:nth-child(5) {
    order: 1;
  }
}
@media (max-width: 1200px) {
  .services__item:nth-child(6) {
    order: 3;
  }
}
.services__heading {
  text-align: 45px;
  font-size: 600;
  font-weight: white;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 60px;
}
.services__text {
  text-align: 15px;
  font-size: 300;
  font-weight: capitalize;
  text-transform: white;
  color: #fff;
  margin-bottom: 1rem;
  max-width: 350px;
}
.services__tel {
  text-align: left;
  font-size: 1rem;
  font-weight: 300;
  text-transform: capitalize;
  color: #ff1500;
}
.services__img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  box-shadow: 0px 0px 21.2px 2px rgba(0, 0, 0, 0.25);
  background: rgb(39, 39, 39);
}
.services svg {
  fill: #ff1500;
}
.services__name {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: none;
  color: white;
  margin: 100px 0 40px;
}
@media (max-width: 1200px) {
  .services__name {
    font-size: 14px;
    margin: 32px 0 16px;
  }
}
.services__desc {
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  text-transform: none;
  color: rgb(220, 220, 220);
}
@media (max-width: 1200px) {
  .services__desc {
    font-size: 12px;
  }
}
.services__item--bg {
  background-color: rgb(39, 39, 39);
}
.services__item--bg .services__img {
  box-shadow: 0px 0px 21.2px 2px rgba(0, 0, 0, 0.25);
}

.projects__services {
  position: relative;
}
.projects__services .section__header {
  text-align: center;
}
.projects__services .section__header .section__title {
  text-align: none;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ff1500;
  margin-bottom: 16px;
}
.projects__services .section__header .section__subtitle {
  text-align: none;
  font-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
  color: white;
}
@media (max-width: 768px) {
  .projects__services .section__header .section__subtitle {
    width: 350px;
    margin: 16px auto 0;
  }
}
@media (max-width: 576px) {
  .projects__services .section__header .section__subtitle {
    width: 100%;
  }
}
.projects__services .section__header .projects__desc {
  text-align: none;
  font-size: 15px;
  font-weight: 300;
  text-transform: none;
  color: white;
  max-width: 900px;
  margin: 1.5rem auto 0;
  line-height: 1.8;
}
@media (max-width: 576px) {
  .projects__services .section__header .projects__desc {
    width: 300px;
  }
}
@media (max-width: 400px) {
  .projects__services .section__header .projects__desc {
    width: 100%;
  }
}
.projects__services__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: wrap;
  gap: 0;
  margin: 3rem 0;
  row-gap: 2rem;
}
.projects__services__item {
  flex-basis: 30%;
  position: relative;
  overflow: hidden;
  height: 200px;
}
@media (max-width: 1200px) {
  .projects__services__item {
    flex-basis: 47%;
  }
}
@media (max-width: 768px) {
  .projects__services__item {
    flex-basis: 100%;
    height: 300px;
  }
}
@media (max-width: 768px) {
  .projects__services__item--hidden {
    display: none;
  }
}
.projects__services__item:hover > .projects__services__overlay {
  opacity: 1;
  transition: 0.4s linear;
}
.projects__services__item img {
  height: 100%;
  width: 100%;
}
.projects__services__item.active .projects__services__overlay {
  opacity: 1;
}
.projects__services__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.projects__services__name {
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
}
.projects__services__location {
  text-align: left;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
.projects__services__btn {
  text-align: center;
}
.projects__services__drill {
  position: absolute;
  top: 50px;
  right: auto;
  bottom: auto;
  left: -100px;
  width: 300px;
  height: auto;
}
@media (max-width: 1200px) {
  .projects__services__drill {
    display: none;
  }
}
.projects__services__hammer {
  position: absolute;
  top: auto;
  right: -120px;
  bottom: -100px;
  left: auto;
  width: 250px;
  height: auto;
}
@media (max-width: 1200px) {
  .projects__services__hammer {
    display: none;
  }
}

.form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: nowrap;
  gap: 2rem;
  box-shadow: 0px 0px 45.3px -3px rgba(255, 255, 255, 0.09);
  padding: 70px 50px;
  border-radius: 2rem;
  margin: 5rem auto;
  background: linear-gradient(252.95deg, #151617 58.44%, #ff1500 138.17%, #ffffff 157.45%);
}
@media (max-width: 1200px) {
  .form {
    padding: 70px 1rem;
    flex-direction: column;
    align-items: stretch;
    background: linear-gradient(320.68deg, #151617 54.97%, #ff1500 144.13%, #ffffff 165.69%);
  }
}
.form__item {
  flex: 1;
}
@media (max-width: 1200px) {
  .form__item {
    text-align: center;
  }
}
.form__heading {
  text-align: left;
  font-size: 40px;
  font-weight: 600;
  text-transform: none;
  color: white;
  margin-bottom: 1.5rem;
}
@media (max-width: 1200px) {
  .form__heading {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .form__heading {
    font-size: 30px;
  }
}
.form__desc {
  color: rgb(230, 230, 230);
  width: 400px;
  margin-bottom: 40px;
  font-weight: 300;
}
@media (max-width: 1200px) {
  .form__desc {
    margin: 0 auto 30px;
  }
}
@media (max-width: 576px) {
  .form__desc {
    width: 100%;
    margin-bottom: 50px;
  }
}
.form__link {
  display: block;
  font-weight: 500;
}
.form__link:not(:last-child) {
  margin-bottom: 16px;
}
.form__link span {
  margin-right: 10px;
}
.form__link:hover {
  text-decoration: underline;
  color: white;
}
@media (max-width: 1200px) {
  .form__item--form {
    padding: 0 20px;
  }
}
@media (max-width: 576px) {
  .form__item--form {
    margin-top: 30px;
  }
}
.form__box:not(:last-child) {
  margin-bottom: 1rem;
}
.form__label {
  text-align: none;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  color: white;
  display: block;
  margin-bottom: 10px;
}
@media (max-width: 1200px) {
  .form__label {
    text-align: center;
  }
}
.form__input {
  background: rgb(247, 248, 255);
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 15px;
}
.form__input::placeholder {
  text-transform: capitalize;
  font-size: 15px;
}
@media (max-width: 576px) {
  .form__input::placeholder {
    font-weight: 300;
  }
}
.form__textarea {
  width: 100%;
  height: 90px;
  font-family: Inter, sans-serif;
  padding: 1rem;
  border-radius: 5px;
  font-size: 15px;
  resize: none;
}
.form__textarea::placeholder {
  text-transform: capitalize;
  font-family: Inter, sans-serif;
  font-size: 15px;
}
@media (max-width: ) {
  .form__textarea::placeholder {
    font-weight: 400;
  }
}
.form__btn {
  font-family: Inter, sans-serif;
  text-transform: uppercase;
}
.form__msg {
  margin-top: 0.5rem;
  color: white;
}

.question__heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  text-transform: white;
  color: none;
}
@media (max-width: 992px) {
  .question__heading {
    font-size: 1.5rem;
    max-width: 250px;
    margin: auto;
  }
}
.question__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: wrap;
  gap: 1rem;
  margin-top: 3rem;
  padding: 2rem;
  background-color: black;
  border-radius: 1rem;
}
@media (max-width: 768px) {
  .question__wrapper {
    padding: 1rem;
  }
}
.question__item {
  flex-basis: 47%;
  padding: 25px;
  border-radius: 10px;
}
@media (max-width: 1200px) {
  .question__item {
    flex-basis: 100%;
  }
}
.question__item.active {
  background-color: white;
  color: black;
}
.question__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
}
@media (max-width: 576px) {
  .question__header {
    font-size: 14px;
  }
}
.question__header i {
  font-size: 15px;
  transition: 0.4s linear;
}
.question__header i.active {
  transform: rotate(90deg);
  color: black;
}
.question__body {
  max-height: 0;
  overflow: hidden;
  font-size: 14px;
  font-weight: 300;
  transition: 0.4s linear;
}
.question__body.active {
  border-top: 1px solid rgb(241, 241, 241);
  max-height: 200px;
  padding-top: 20px;
}

.blog__posts {
  scroll-margin-top: 5rem;
}
.blog__posts .section__header .section__subtitle {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-transform: none;
  color: white;
}
@media (max-width: 576px) {
  .blog__posts .section__header .section__subtitle {
    max-width: 100%;
    font-size: 25px;
  }
}
.blog__posts .section__header .section__title {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ff1500;
}
.blog__posts__wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: wrap;
  gap: 2rem;
  margin-top: 45px;
  row-gap: 150px;
}
@media (max-width: 576px) {
  .blog__posts__wrapper {
    row-gap: 100px;
  }
}
.blog__posts__item {
  flex-basis: 30%;
}
@media (max-width: 1200px) {
  .blog__posts__item {
    flex-basis: 45%;
  }
}
@media (max-width: 768px) {
  .blog__posts__item {
    flex-basis: 100%;
  }
}
@media (max-width: 768px) {
  .blog__posts__item.hidden {
    display: none;
  }
}
.blog__posts__item .all__blogs {
  display: none;
  margin: 1rem auto 0;
}
@media (max-width: 768px) {
  .blog__posts__item .all__blogs {
    display: block;
    background: transparent;
    border: 2px solid #ff1500;
    border-radius: 40px;
    padding: 12px 0;
    width: 170px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    color: white;
  }
}
.blog__posts__img {
  display: block;
  height: 250px;
}
.blog__posts__img img {
  width: 100%;
  height: 100%;
}
.blog__posts__heading {
  font-weight: 500;
  font-size: 22px;
  margin-top: 1rem;
  display: block;
}
@media (max-width: 768px) {
  .blog__posts__heading {
    font-size: 15px;
  }
}
.blog__posts__date {
  margin: 1.5rem 0 16px;
}
.blog__posts__date i {
  font-size: 14px;
}
.blog__posts__date span {
  font-weight: 300;
  font-size: 10px;
  color: rgb(141, 141, 141);
}
.blog__posts__p {
  color: rgb(197, 197, 197);
  text-align: justify;
  line-height: 18px;
  font-size: 11px;
  margin-bottom: 1rem;
}
.blog__posts__link {
  text-align: left;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  text-decoration: underline;
  text-decoration-color: #ff1500;
}
.blog__posts__link:hover {
  text-decoration: underline;
}

.header__about {
  position: relative;
  height: 100svh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("../img/about/about-main.jpg");
  background-size: cover;
  background-position: bottom;
}
.header__about__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  gap: 0;
  height: 100%;
}
@media (max-width: 1200px) {
  .header__about__wrapper {
    align-items: center;
    text-align: center;
  }
}
.header__about__heading {
  text-align: left;
  font-size: 56px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  max-width: 750px;
}
@media (max-width: 992px) {
  .header__about__heading {
    font-size: 28px;
    text-align: center;
    width: 400px;
  }
}
@media (max-width: 576px) {
  .header__about__heading {
    max-width: 100%;
  }
}
.header__about__p {
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  text-transform: none;
  color: white;
  margin: 40px 0 48px;
  max-width: 720px;
}
@media (max-width: 992px) {
  .header__about__p {
    text-align: center;
    width: 350px;
  }
}
@media (max-width: 576px) {
  .header__about__p {
    max-width: 100%;
  }
}
.header__about #arrow {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 40px;
  left: 50%;
  width: auto;
  height: auto;
  transform: translateX(-50%);
  animation: arrow-down 1.5s infinite;
  color: #ff1500;
  font-size: 2rem;
  display: none;
}
@media (max-width: 992px) {
  .header__about #arrow {
    display: block;
  }
}

.years {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
  gap: 0;
  scroll-margin-top: 100px;
}
@media (max-width: 1200px) {
  .years {
    justify-content: center;
    text-align: center;
    row-gap: 48px;
  }
}
@media (max-width: 576px) {
  .years {
    scroll-margin-top: 50px;
  }
}
.years__item {
  flex-basis: 30%;
}
@media (max-width: 1200px) {
  .years__item {
    flex-basis: 80%;
  }
}
@media (max-width: 576px) {
  .years__item {
    flex-basis: 100%;
  }
}
.years__item.section__header {
  text-align: left;
}
@media (max-width: 1200px) {
  .years__item.section__header {
    text-align: center;
  }
}
.years__item.section__header .section__title {
  text-align: none;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ff1500;
  margin-bottom: 16px;
}
.years__item.section__header .section__subtitle {
  text-align: none;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .years__item.section__header .section__subtitle {
    width: 350px;
    margin: auto;
    margin-top: 16px;
  }
}
@media (max-width: 400px) {
  .years__item.section__header .section__subtitle {
    width: 100%;
  }
}
.years__p {
  text-align: left;
  font-size: 1rem;
  font-weight: 300;
  text-transform: none;
  color: white;
  line-height: 1.8;
}
@media (max-width: 1200px) {
  .years__p {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .years__p {
    width: 300px;
    margin: auto;
  }
}
@media (max-width: 400px) {
  .years__p {
    width: 100%;
  }
}
.years__item--flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row;
  gap: 1rem;
  position: relative;
  padding: 0 2rem;
  flex-basis: 20%;
}
@media (max-width: 576px) {
  .years__item--flex {
    flex-basis: 300px;
    justify-content: center;
  }
}
.years__line {
  width: 40px;
  height: 3px;
  background: #fff;
  opacity: 0.2;
  position: absolute;
  display: block;
  content: "";
}
.years .line-1 {
  top: 0;
  left: 0;
}
.years .line-2 {
  top: 0;
  right: 0;
}
.years .line-3 {
  bottom: 0;
  left: 0;
}
.years .line-4 {
  bottom: 0;
  right: 0;
}
.years .line-5 {
  top: 0;
  left: 0;
  height: 100%;
  bottom: 0;
  width: 3px;
}
.years .line-6 {
  top: 0;
  right: 0;
  height: 100%;
  bottom: 0;
  width: 3px;
}
.years__number {
  text-align: left;
  font-size: 78px;
  font-weight: 700;
  text-transform: none;
  color: #ff1500;
}
@media (max-width: 576px) {
  .years__number {
    font-weight: 500;
    font-size: 68px;
  }
}

.about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("../img/about/about-services.jpg");
  background-size: cover;
  border-radius: 1rem;
  margin: 70 auto;
  scroll-margin-top: 180px;
}
.about .section__header {
  text-align: center;
}
.about .section__header .section__title {
  text-align: none;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ff1500;
  margin-bottom: 16px;
}
.about .section__header .section__subtitle {
  text-align: none;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
  margin-top: 3rem;
  padding: 0 4rem;
}
@media (max-width: 1200px) {
  .about__wrapper {
    flex-direction: column;
    row-gap: 3rem;
  }
}
.about__item {
  flex-basis: 30%;
  text-align: center;
}
@media (max-width: 1200px) {
  .about__item {
    flex-basis: 100%;
  }
}
.about__item svg {
  height: 35px;
  width: 35px;
}
.about__name {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  margin: 1rem 0;
}
.about__desc {
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  text-transform: none;
  color: white;
  width: 250px;
  margin: auto;
}
@media (max-width: 1200px) {
  .about__desc {
    width: 300px;
  }
}
@media (max-width: 400px) {
  .about__desc {
    width: 100%;
  }
}

.projects {
  position: relative;
  scroll-margin-top: 100px;
}
.projects__header {
  text-align: right;
}
@media (max-width: 992px) {
  .projects__header {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .projects__header {
    text-align: center;
  }
}
.projects__heading {
  font-weight: 700;
  font-size: 56px;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .projects__heading {
    font-size: 2rem;
    max-width: 250px;
    margin: 0 auto 20px;
  }
}
.projects__p {
  font-weight: 300;
  max-width: 870px;
  margin-left: auto;
}
@media (max-width: 992px) {
  .projects__p {
    margin: auto;
    width: 280px;
  }
}
.projects__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: wrap;
  gap: 0;
  row-gap: 150px;
  margin-top: 80px;
}
@media (max-width: 1200px) {
  .projects__wrapper {
    row-gap: 70px;
  }
}
.projects__wrapper ~ div {
  z-index: -1;
}
@media (max-width: 992px) {
  .projects__wrapper ~ div {
    display: none;
  }
}
.projects__item {
  flex-basis: 30%;
}
@media (max-width: 1200px) {
  .projects__item {
    flex-basis: 45%;
  }
}
@media (max-width: 768px) {
  .projects__item {
    flex-basis: 100%;
  }
}
.projects__name {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}
.projects__name span {
  color: #ff1500;
}
@media (max-width: 768px) {
  .projects__name {
    text-align: center;
  }
}
.projects__imgs {
  position: relative;
  overflow: hidden;
}
.projects__img {
  transition: 0.4s linear;
  display: flex;
}
.projects__img img {
  width: 100%;
  flex-shrink: 0;
}
.projects__btn {
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: 0;
  width: auto;
  height: auto;
  transform: translateY(-50%);
  border-radius: 50%;
  line-height: 30px;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s linear;
  background-color: transparent;
}
.projects__btn:hover {
  color: #ff1500;
  border-color: #ff1500;
}
.projects__btn--left {
  left: 10px;
  color: #fff;
}
.projects__btn--right {
  right: 10px;
  color: #fff;
}
.projects__labels {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: wrap;
  gap: 9px;
  margin-top: 20px;
}
@media (max-width: 1200px) {
  .projects__labels {
    justify-content: center;
  }
}
.projects__labels span {
  text-transform: capitalize;
  font-size: 13px;
  border-radius: 50px;
  padding: 10px 1rem;
  border: 0.8px solid rgba(255, 255, 255, 0.3);
}
.projects__cta {
  margin: 2rem auto 0;
}
@media (max-width: 768px) {
  .projects__cta {
    display: block;
  }
}
.projects__color {
  position: absolute;
  top: 45%;
  right: 0;
  bottom: auto;
  left: 0;
  width: auto;
  height: auto;
  width: 200px;
}

.offer {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-flow: row nowrap;
  gap: 0;
  position: relative;
}
@media (max-width: 992px) {
  .offer {
    flex-direction: column;
  }
}
.offer__item {
  flex: 1;
}
.offer__item img {
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
@media (max-width: 992px) {
  .offer__item img {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 0;
    height: 400px;
    width: 100%;
  }
}
.offer__item--bg {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  gap: 0;
  background: #222222;
  padding: 3rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
@media (max-width: 992px) {
  .offer__item--bg {
    align-items: center;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1rem;
  }
}
@media (max-width: 400px) {
  .offer__item--bg {
    padding: 48px 20px;
  }
}
@media (max-width: 992px) {
  .offer .section__header {
    text-align: center;
  }
}
.offer .section__header .section__title {
  text-align: none;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ff1500;
  margin-bottom: 16px;
}
.offer .section__header .section__subtitle {
  text-align: none;
  font-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
}
@media (max-width: 992px) {
  .offer .section__header .section__subtitle {
    font-size: 24px;
    margin: auto;
    max-width: 320px;
    margin-bottom: 16px;
  }
}
@media (max-width: 400px) {
  .offer .section__header .section__subtitle {
    width: 100%;
  }
}
.offer .section__header .section__subtitle span {
  color: #ff1500;
}
.offer__desc {
  color: white;
  margin: 1.5rem 0 3rem;
  font-size: 14px;
  width: 420px;
  line-height: 1.8;
  font-weight: 300;
}
@media (max-width: 992px) {
  .offer__desc {
    text-align: center;
    margin: 1.5rem auto 3rem;
    width: 280px;
  }
}
@media (max-width: 400px) {
  .offer__desc {
    width: 100%;
  }
}

.header__blog {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/read/cardboard-house.jpg");
  height: 100svh;
  background-size: cover;
}
@media (max-width: 768px) {
  .header__blog {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 38.75%, rgba(255, 21, 0, 0.8) 753.46%), url("../img/read/cardboard-house.jpg");
    background-size: cover;
    background-position: center;
  }
}
.header__blog__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 0;
  height: 100vh;
}
.header__blog__heading {
  text-align: none;
  font-size: 56px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  width: 700px;
  text-align: center;
}
@media (max-width: 768px) {
  .header__blog__heading {
    font-size: 28px;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .header__blog__heading {
    font-size: 25px;
  }
}
.header__blog__p {
  text-align: none;
  font-size: 16px;
  font-weight: 300;
  text-transform: none;
  color: white;
  margin: 40px 0 48px;
  text-align: center;
}
@media (max-width: 768px) {
  .header__blog__p {
    width: 300px;
  }
}
@media (max-width: ) {
  .header__blog__p {
    font-size: 14px;
    width: 260px;
  }
}
.header__blog #arrow {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 40px;
  left: 50%;
  width: auto;
  height: auto;
  transform: translateX(-50%);
  animation: arrow-down 1.5s infinite;
  color: #ff1500;
  font-size: 2rem;
  display: none;
}
@media (max-width: 992px) {
  .header__blog #arrow {
    display: block;
  }
}

.blog__posts {
  scroll-margin-top: 5rem;
}
.blog__posts .section__header .section__subtitle {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-transform: none;
  color: white;
}
@media (max-width: 576px) {
  .blog__posts .section__header .section__subtitle {
    max-width: 100%;
    font-size: 25px;
  }
}
.blog__posts .section__header .section__title {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ff1500;
}
.blog__posts__wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: wrap;
  gap: 2rem;
  margin-top: 45px;
  row-gap: 150px;
}
@media (max-width: 576px) {
  .blog__posts__wrapper {
    row-gap: 100px;
  }
}
.blog__posts__item {
  flex-basis: 30%;
}
@media (max-width: 1200px) {
  .blog__posts__item {
    flex-basis: 45%;
  }
}
@media (max-width: 768px) {
  .blog__posts__item {
    flex-basis: 100%;
  }
}
@media (max-width: 768px) {
  .blog__posts__item {
    background: transparent;
    padding: 12px 0;
    width: 170px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    color: white;
  }
}
.blog__posts__img {
  display: block;
  height: 250px;
}
.blog__posts__img img {
  width: 100%;
  height: 100%;
}
.blog__posts__heading {
  font-weight: 500;
  font-size: 22px;
  margin-top: 1rem;
  display: block;
}
@media (max-width: 768px) {
  .blog__posts__heading {
    font-size: 15px;
  }
}
.blog__posts__date {
  margin: 1.5rem 0 16px;
}
.blog__posts__date i {
  font-size: 14px;
}
.blog__posts__date span {
  font-weight: 300;
  font-size: 10px;
  color: rgb(141, 141, 141);
}
.blog__posts__p {
  color: rgb(197, 197, 197);
  text-align: justify;
  line-height: 18px;
  font-size: 11px;
  margin-bottom: 1rem;
}
.blog__posts__link {
  text-align: left;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  text-decoration: underline;
  text-decoration-color: #ff1500;
}
.blog__posts__link:hover {
  text-decoration: underline;
}

.contact {
  text-align: center;
  margin: 100px 0;
  position: relative;
  scroll-margin-top: -100px;
}
@media (max-width: 992px) {
  .contact {
    margin-bottom: 50px;
    scroll-margin-top: -200px;
  }
}
@media (max-width: 576px) {
  .contact {
    margin: 150px 0 100px;
    scroll-margin-top: -300px;
  }
}
.contact__heading {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
  color: white;
  margin-bottom: 16px;
}
@media (max-width: 992px) {
  .contact__heading {
    font-size: 32px;
    text-transform: uppercase;
    width: 300px;
    margin: auto;
  }
}
@media (max-width: 400px) {
  .contact__heading {
    width: 100%;
    padding: 0 30px;
  }
}
.contact__desc {
  font-size: 18px;
  color: rgb(207, 207, 207);
  margin: auto;
  max-width: 770px;
}
@media (max-width: 992px) {
  .contact__desc {
    font-size: 15px;
    max-width: 300px;
    margin-top: 20px;
  }
}
@media (max-width: 400px) {
  .contact__desc {
    width: 100%;
  }
}
.contact__key {
  position: absolute;
  top: 20px;
  right: auto;
  bottom: 0;
  left: -42px;
  width: 300px;
  height: auto;
  opacity: 0.05;
}
@media (max-width: 992px) {
  .contact__key {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
