@use "../abstract/index" as *;

//Header section

.contact {
  text-align: center;
  margin: 100px 0;
  position: relative;
  scroll-margin-top: -100px;

  @include rwd(lg) {
    margin-bottom: 50px;
    scroll-margin-top: -200px;
  }

  @include rwd(sm) {
    margin: 150px 0 100px;
    scroll-margin-top: -300px;
  }

  &__heading {
    @include style(center, 40px, 600, capitalize, white);
    margin-bottom: 16px;

    @include rwd(lg) {
      font-size: 32px;
      text-transform: uppercase;
      width: 300px;
      margin: auto;
    }

    @include rwd(mm) {
      width: 100%;
      padding: 0 30px;
    }
  }

  &__desc {
    font-size: 18px;
    color: rgba(207, 207, 207, 1);
    margin: auto;
    max-width: 770px;

    @include rwd(lg) {
      font-size: 15px;
      max-width: 300px;
      margin-top: 20px;
    }

    @include rwd(mm) {
      width: 100%;
    }
  }

  &__key {
    @include position(absolute, 20px, auto, 0, -42px, 300px);
    opacity: 0.05;

    @include rwd(lg) {
      display: none;
    }
  }
}
